In [2]:
import pandas as pd

train=pd.read_csv('train.csv', header=0)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(train.duplicated().sum())

0

In [4]:
train=train.drop_duplicates()

print(train.duplicated().sum())

0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
missing_data=train.isnull().sum()
missing_data

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Theres is missing values in : "Age","Cabin" and "Embarked"

We have different ways to handle missing values. For the Cabin column, we can drop it because the information is not important enough for our model.

For the Age column, I decided to fill the missing values with the mean of the entire column to retain all the data.

Finally, I chose to drop the two rows with missing values in Embarked because if we don't know where these passengers boarded, we can do without that information. Moreover, removing just two rows won't have a significant impact on our model.

In [7]:
train_filled=train
train_filled["Age"]=train_filled["Age"].fillna(train_filled["Age"].mean())
train_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
train_filled.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
train_filled.dropna(subset=["Embarked"], inplace=True)
train_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [10]:
train_filled.drop("Cabin", axis=1, inplace=True)
train_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

In [11]:
train_filled["FamilySize"]=train_filled["SibSp"]+train_filled["Parch"]+1
train_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
 11  FamilySize   889 non-null    int64
dtypes: float64(2), int64(6), object(4)
memory usage: 90.3+ KB

In [12]:
train_filled["Name"]
train_filled["Title"] = train_filled["Name"].apply(lambda Name: Name.split(",")[1].split(".")[0].strip())
train_filled["Title"].value_counts()

Title
Mr              517
Miss            181
Mrs             124
Master           40
Dr                7
Rev               6
Mlle              2
Major             2
Col               2
the Countess      1
Capt              1
Ms                1
Sir               1
Lady              1
Mme               1
Don               1
Jonkheer          1
Name: count, dtype: int64

In [13]:
title_mapping = {
    "Mr": "Mr", "Mrs": "Mrs", "Miss": "Miss", "Master": "Master",
    "Dr": "Rare", "Rev": "Rare", "Col": "Rare", "Major": "Rare",
    "Mlle": "Miss", "Ms": "Miss", "Mme": "Mrs", "Countess": "Rare",
    "Lady": "Rare", "Sir": "Rare", "Jonkheer": "Rare", "Don": "Rare", "Capt": "Rare"
}
train_filled["Title"] = train_filled["Title"].map(title_mapping)
train_filled["Title"].value_counts()

Title
Mr        517
Miss      184
Mrs       125
Master     40
Rare       22
Name: count, dtype: int64

In [14]:
train_filled["Sex"]=train_filled["Sex"].map({"male" : 0, "female" : 1})
train_filled["Sex"].value_counts()

Sex
0    577
1    312
Name: count, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder
train_filled["Title"] = LabelEncoder().fit_transform(train_filled["Title"])

In [16]:
train_filled['Title'].value_counts()

Title
2    517
1    184
3    125
0     40
4     22
5      1
Name: count, dtype: int64

In [17]:
train_filled["Embarked"].value_counts()
train_filled["Embarked"]=train_filled["Embarked"].map({"S" : 0, "C" : 1, "Q" : 2})
train_filled["Embarked"].value_counts()

Embarked
0    644
1    168
2     77
Name: count, dtype: int64

In [18]:
train_filled.info()
train_filled.head()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    int64
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    int64
 11  FamilySize   889 non-null    int64
 12  Title        889 non-null    int64
dtypes: float64(2), int64(9), object(2)
memory usage: 97.2+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,Title
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0,2,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1,2,3
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0,2,3
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0,1,2

In [19]:
#Detection d'outliers
Q1= train_filled["Age"].quantile(0.25)
Q3= train_filled["Age"].quantile(0.75)
IQR= Q3-Q1
lower_bound= Q1-1.5*IQR
upper_bound= Q3+1.5*IQR
outlier=train[((train_filled["Age"] < lower_bound) | (train_filled["Age"] > upper_bound))]

In [20]:
print(f"le nombre d'oulier est : {outlier.shape[0]}")

le nombre d'oulier est : 65

In [21]:
train_filled=train_filled[((train_filled["Age"] >= lower_bound) & (train_filled["Age"] <= upper_bound))]

In [22]:
train_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  824 non-null    int64
 1   Survived     824 non-null    int64
 2   Pclass       824 non-null    int64
 3   Name         824 non-null    object
 4   Sex          824 non-null    int64
 5   Age          824 non-null    float64
 6   SibSp        824 non-null    int64
 7   Parch        824 non-null    int64
 8   Ticket       824 non-null    object
 9   Fare         824 non-null    float64
 10  Embarked     824 non-null    int64
 11  FamilySize   824 non-null    int64
 12  Title        824 non-null    int64
dtypes: float64(2), int64(9), object(2)
memory usage: 90.1+ KB

In [23]:
numerical_cols = ['Age', 'Fare', 'SibSp', 'Parch', 'FamilySize']
for col in numerical_cols:
    print(f"Column: {col}")
    print(f"  Min: {train_filled[col].min()}")
    print(f"  Max: {train_filled[col].max()}")
    print(f"  Mean: {train_filled[col].mean()}")
    print(f"  Standard Deviation: {train_filled[col].std()}")

Column: Age
  Min: 3.0
  Max: 54.0
  Mean: 28.868621145059965
  Standard Deviation: 10.183927543760925
Column: Fare
  Min: 0.0
  Max: 512.3292
  Mean: 31.424736286407768
  Standard Deviation: 49.95811897536937
Column: SibSp
  Min: 0
  Max: 8
  Mean: 0.508495145631068
  Standard Deviation: 1.0911889098201275
Column: Parch
  Min: 0
  Max: 6
  Mean: 0.3580097087378641
  Standard Deviation: 0.7989871595163975
Column: FamilySize
  Min: 1
  Max: 11
  Mean: 1.866504854368932
  Standard Deviation: 1.5940790863798857

In [25]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [26]:
scaler = StandardScaler()
train_filled[['Age', 'Fare']] = scaler.fit_transform(train_filled[['Age', 'Fare']])

<ipython-input-26-11f875389611>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_filled[['Age', 'Fare']] = scaler.fit_transform(train_filled[['Age', 'Fare']])

In [27]:
min_max_scaler = MinMaxScaler()
train_filled[['SibSp', 'Parch', 'FamilySize']] = min_max_scaler.fit_transform(train_filled[['SibSp', 'Parch', 'FamilySize']])

<ipython-input-27-e7cfa4000b43>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_filled[['SibSp', 'Parch', 'FamilySize']] = min_max_scaler.fit_transform(train_filled[['SibSp', 'Parch', 'FamilySize']])

In [29]:
train_filled.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,Title
0,1,0,3,"Braund, Mr. Owen Harris",0,-0.674867,0.125,0.0,A/5 21171,-0.484194,0,0.1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0.897191,0.125,0.0,PC 17599,0.798324,1,0.1,3
2,3,1,3,"Heikkinen, Miss. Laina",1,-0.281852,0.000,0.0,STON/O2. 3101282,-0.470674,0,0.0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0.602430,0.125,0.0,113803,0.434132,0,0.1,3
4,5,0,3,"Allen, Mr. William Henry",0,0.602430,0.000,0.0,373450,-0.468171,0,0.0,2

In [30]:
train_filled['AgeGroup'] = pd.cut(train_filled['Age'], bins=[0, 18, 35, 60, 100], labels=['Child', 'YoungAdult', 'Adult', 'Senior'])

<ipython-input-30-d90177ccf230>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_filled['AgeGroup'] = pd.cut(train_filled['Age'], bins=[0, 18, 35, 60, 100], labels=['Child', 'YoungAdult', 'Adult', 'Senior'])

In [31]:
age_dummies = pd.get_dummies(train_filled['AgeGroup'], prefix='AgeGroup')
train_filled = pd.concat([train_filled, age_dummies], axis=1)

In [33]:
train_filled.drop('AgeGroup', axis=1, inplace=True)

KeyError: "['AgeGroup'] not found in axis"

In [34]:
train_filled.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,Title,AgeGroup_Child,AgeGroup_YoungAdult,AgeGroup_Adult,AgeGroup_Senior
0,1,0,3,"Braund, Mr. Owen Harris",0,-0.674867,0.125,0.0,A/5 21171,-0.484194,0,0.1,2,False,False,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0.897191,0.125,0.0,PC 17599,0.798324,1,0.1,3,True,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,-0.281852,0.000,0.0,STON/O2. 3101282,-0.470674,0,0.0,1,False,False,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0.602430,0.125,0.0,113803,0.434132,0,0.1,3,True,False,False,False
4,5,0,3,"Allen, Mr. William Henry",0,0.602430,0.000,0.0,373450,-0.468171,0,0.0,2,True,False,False,False